.text {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.cursor {
  color: #14b3ea;
  font-weight: bold;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
