@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  // background: $primary-color;
}

.text-primary {
  color: #14b3ea;
}

.bg-primary {
  background: #14b3ea;
}

.bg-primary-gray {
  background: #0f172a;
}

.bg-secondary-gray {
  background: #1e293b;
}
